html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: $default;
  @extend %Poppins-400;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}


a {
  color: inherit;
}

.title {
  text-align: center;
  @extend %Volkhov;
  color: $title;
  font-size: 46px;
  margin-bottom: 20px;
  line-height: 1.5;
}