//цвет

$default: #8A8A8A;
$title: #484848;
$accent: #FF4646;

//шрифт
%Poppins-400 {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}

%Poppins-500 {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}

%Volkhov {
  font-family: 'Volkhov-Regular', sans-serif;
  font-weight: 400;
}

%Numbers {
  font-family: 'DigitalNumbers-Regular', sans-serif;
  font-weight: 400;
}

//кнопки, чекбоксы
%btn {
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}