.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    margin-bottom: 95px;
  }

  &__btn {
    padding: 20px 45px;
    @extend %btn;
    margin-left: 58px;
    line-height: 1;
  }
}

.menu {
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 58px;
  }

  &__list-link {
    color: $title;
  }
}